.fruit-user {
  display: flex;
  align-items: center;
  background: #e7e8e9;
  padding: 15px;
  border-radius: 30px;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #6777ef;
}

.fruit {
  font-weight: 700;
  color: #34395e;
}

.dashboard-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  font-size: 20px;
  padding: 10px;
}

.user_blew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user_input {
  display: flex;
  gap: 3px;
}

.user_blow {
  display: flex;
  align-items: center;
  gap: 5px;
}

#select:optional {
  width: 75px;
  height: 42px;
  border: 1px solid rgba(0, 0, 255, 0.503);
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
