.drop-it-wrap {
  max-width: 600px;
  margin: 25px auto;
  width: 100%;
  border: 5px dashed #ececec;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.div-block {
  width: 510px;
  height: 100%;
  padding: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 3px 13px 19px -8px rgba(34, 60, 80, 0.32);
  position: relative;
}
.div-block h2 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.div-block input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: 1px solid #dadada6c;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.div-block textarea {
  width: 100%;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid #dadada6c;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
  resize: vertical;
}
.div-block input:focus {
  border: 1px solid #6777ef;
}
.div-block textarea:focus {
  border: 1px solid #6777ef;
}
