.sidebar {
  width: 100%;
  padding: 14px 13px 14px 13px;
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;

}

.sidebar_hidebar {
  width: 100%;
  padding: 5px 13px 10px 13px;
  font-weight: 400;
  position: relative;
  margin-top: 3px;
}

.sidebar span {
  font-size: 18px;
  color: #5b81a2;
}

// .sidebar_hidebar

.sidebar_hidebar i {
  display: none;
}

.sidebar_hidebar span {
  display: none;
}

.sidebar_hidebar:hover {
  -webkit-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  -moz-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  background: transparent;
}

.sidebar_hidebar:focus {
  -webkit-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  -moz-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  background: transparent;
}

.sidebar i {
  position: absolute;
  right: 0;
  font-size: 40px;
}

.sidebar:focus {
  background: #dbdbdb;
}

span {
  font-size: 14px;
  color: #60686f;
}

.hide {
  width: 0;
  overflow: hidden;
  position: fixed;
  z-index: -100;
  transition: 1s ease-in-out;
}

.show {
  transition: 0.3s ease;
}

ul li {
  width: 100%;
  list-style-type: none;
  padding: 5px;
  margin-top: 5px;
}

ul li:hover {
  background: #dbdbdb;
}

ul li a {
  text-decoration: none;
  color: #909091;
  display: flex;
  align-items: center;
}

ul li a span {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar_hidebar.dropdown_link {
  position: relative;
}


.sidebar .drop {
  display: none;
}

.drop div {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar_hidebar:hover .drop a {
  padding: 8px;
}

.sidebar_hidebar:hover .drop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: -230px;
  width: 230px;
  border-radius: 5px;
  transition: 0.3s ease;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.sidebar_hidebar:hover .fixed{
  top: -40px;
}
.sidebar_hidebar:hover .drop li a .book-icons{
  background: #000;
}
