.sidebar {
  width: 100%;
  padding: 14px 13px 14px 13px;
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
}
.link {
  margin-right: 10px;
  margin-left: 10px;
  color: #60686f;
  font-size: 16px;
}

.sidebar:focus {
  background: #dbdbdb;
}
span {
  font-size: 14px;
  color: #60686f;
}

.hide {
  width: 0;
  overflow: hidden;
  position: fixed;
  z-index: -100;
  transition: 1s ease-in-out;
}

.show {
  transition: 0.3s ease;
}
