
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  /* background: #ffffff; */
}

.sidebar {
  transition: 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 8px;
}

.sidebar:hover::-webkit-scrollbar-corner {
  scroll-behavior: smooth;
  width: 5px;
}

.sidebar::-webkit-scrollbar-button {
  scroll-behavior: smooth;
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  width: 5px;
  background: #686868;
  border-radius: 5px;
}

.hide-sidebar {
  transition: 0.3s ease;
}

.hide-sidebar::-webkit-scrollbar {
  display: none;
  background: #3dc7be;
}

.hide-sidebar .side-links ul {
  display: none;
}

.hide-sidebar .side-links ul {
  display: none;
}

.hide-sidebar .side-links {
  position: relative;
  margin-top: 5px;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 100px;
}

.hide-sidebar .wrapper {
  position: relative;
  top: 0;
}

.hide-sidebar .side-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  top: -5px;
}

.sidebar .side-links a i {
  padding: 10px;
  color: rgba(53, 53, 53, 0.7);
  font-size: 30px;
  color: #757c84;
}

.side-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  top: -5px;
}

.link {
  margin-right: 10px;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 100%;
  color: white;
}
.link:nth-of-type(1) {
  background: linear-gradient(135deg, #f87e59 0, #f89934 100%);
}

.hide-sidebar .side-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .side-links a:hover {
  -webkit-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  -moz-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  transition: 0.3s ease;
}

.sidebar .side-links a:focus {
  -webkit-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  -moz-box-shadow: -1px 5px 31px -14px rgba(47, 77, 99, 0.79);
  background: transparent;
}

.sidebar .side-links ul li:hover {
  box-shadow: -1px 5px 31px -10px rgba(47, 77, 99, 0.79);
  background: transparent;
}

.sidebar .side-links ul li a .book-icons {
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 100%;
  color: #fff;
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
}

.sidebar .side-links ul li a:focus {
  box-shadow: -1px 5px 31px -10px rgba(47, 77, 99, 0.79);
  background: transparent;
}

.hide-sidebar .side-links a .link {
  font-size: 20px;
}

/* w-full h-[70px]  border bg-[#FFFFFF] flex justify-end shadow-[0px_10px_15px_1px_#a0aec0] px-3 */
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  color: #757c84;
  padding: 12px 12px;
}

/* w-[86%] h-full flex items-center */
.header-block {
  width: 84.5%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-dark {
  background: blue;
}

.header-hide-block {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

/* flex items-center  pt-3 w-full h-full py-3  */
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 12px 0 12px;
}

/* flex items-center justify-center h-full */

.nav-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* w-[50px] h-[50px]  pt-2 pl-1      justify-center text-[20px] cursor-pointer */

.burger-menu {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 4px;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

/* w-[50px] h-[50px]  pt-2  justify-center text-[23px] cursor-pointer */

.full-screen {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 4px;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

/* flex items-center */
.search-box {
  display: flex;
  align-items: center;
}

/* bg-[#e9ecef] min-h-[46px] font-medium transition-all  -mr-1.5 pl-5 pr-0 rounded-[3px_0_0_3px] border-transparent; */

.input-type {
  background: #e9ecef;
  height: 46px;
  font-weight: 500;
  transition: all;
  margin-right: 6px;
  padding-left: 20px;
  padding-right: 0;
  border-radius: 3px 0 0 3px;
  border: 1px solid transparent;
}

/* flex items-center justify-evenly w-[200px] h-full */

.user-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
}

/* w-[40px] h-[40px]  flex justify-center items-center text-[20px] cursor-pointer */

.desktop-icon,
.envelope-icon,
.light-dark,
.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  margin: 5px;
}

.desktop-icon:hover,
.envelope-icon:hover,
.light-dark:hover,
.user-icon:hover {
  background-color: rgba(172, 172, 172, 0.3);
}

.animation-icon {
  animation: 3s linear infinite animation-icons;
  position: relative;
  transform: translate(100%);
}

.ps-menu-button:hover {
  background: linear-gradient(to top, #096ddf, #1f87fd);
  transition: 0.5s ease;
  font-size: 18px;
}

.ps-menu-button:hover .css-12w9als {
  color: #fff;
}

.ps-menu-button:hover .css-wx7wi4 {
  color: #ffffff;

  scale: 1.1;
  transition: 0.1s ease;
}

.css-1097eso {
  color: #1e90ffff;
}

.css-honxw6 {
  color: #1e90ffff;
}

.ps-menu-button:hover .css-honxw6 {
  color: #ffffff;
}

.ps-menu-button .css-wx7wi4 {
  font-size: 20px;
  border-radius: 100% !important;
  /*padding: 10px;*/
  color: #1e90ffff;
}

.menus-style {
  font-size: 16px;
  text-indent: 10px;
  font-family: "Poppins", sans-serif;
  color: #454d5c;
  user-select: none;
}

.css-1tqrhto {
  background: #ffffff;
}

.css-1097eso:hover ~ .css-12w9als {
  color: #fbfdff;
}

@keyframes animation-icons {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-btn-sm {
  background-color: #096ddf !important;
}

.ant-picker-now-btn {
  padding: 1px;
}

.css-dev-only-do-not-override-xu9wm8 {
  background-color: #353c48;
  border: #096ddf;
}

.ant-picker-input input {
  color: #bec2c7 !important;
}

.ant-picker-clear {
  display: none !important;
}

.ant-picker-input-active input {
  color: #bec2c7 !important;
}

.even-class {
  transition: 0.3s ease;
}

.even-class:nth-child(even):hover {
  scale: 1.01;
  -webkit-box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
  -moz-box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
  box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
}

.even-class:nth-child(odd):hover {
  scale: 1.01;
  -webkit-box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
  -moz-box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
  box-shadow: 1px 6px 6px -4px rgba(21, 21, 21, 0.37);
  background: #fafafa;
}

.-g-button {
  width: 80px;
  height: 30px;
  background-color: #6777ef !important;
  border-color: transparent;
  color: #fff;
  padding: 0.1rem 0.4rem;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.textarea {
  width: 100%;
  height: 64px;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 5px;
  border-bottom: 1px solid mediumpurple;
}

.name1 {
  width: 100%;
  height: 64px;
  border: 1px solid mediumpurple;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.input-file {
  display: none;
}
.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tooltip:hover::after {
  content: "about";
  position: absolute;
  font-size: 10px;
  top: -30px;
  width: 100%;
  text-align: center;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.created:hover::after {
  content: "bu o'quchi kiritilgan";
  width: 100px !important;
  position: absolute;
  font-size: 10px;
  top: -30px;
  width: 100%;
  text-align: center;
  transition-delay: 400ms;
}
.disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.disabled:hover::after {
  content: "bu o'quvchi kiritilmagan";
  width: 110px !important;
  position: absolute;
  font-size: 10px;
  top: -30px;
  width: 100%;
  text-align: center;
  transition-delay: 400ms;
}
