@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
}

body {
  background: rgb(246, 246, 246);
  height: 100%;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  justify-content: flex-end;
}

